{% load static %}
<header>
	<div class="navbar">
		<div
			id="menu-button"
			class="burger-menu"
		>
			&#9776;
		</div>
		<div class="logo">
			<a href="/">ChainRadar</a>
		</div>
	</div>
	{% if user.is_authenticated %}
		<div class="profile-area">
			{% if user.profile_picture %}
				<a href="/profile">
					<img src="{{ user.profile_picture.url }}" alt="Profile" class="profile-picture">
				</a>
			{% else %}
				<a href="/profile">
					<img src="{% static 'images/default_user.png' %}" alt="Profile" class="profile-picture">
				</a>
			{% endif %}
		</div>
	{% else %}
		<nav class="auth-buttons">
			<a href="/signup" class="signup">Sign Up</a>
			<a href="/login" class="login">Login</a>
		</nav>
	{% endif %}
</header>
